* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: black;
  color: lightgreen;
  font: normal 16px/150% "Helvetica Neue", sans-serif;
}

pre {
  font-family: monospace;
}

.code {
  font-size: 13px;
}
